.user-list-page {
  @import 'user-list/filters';

  > header {
    display: flex;
    margin: 2rem 0;

    h1 {
      margin: 0;
      flex: 1 0 auto;
    }
  }

  .user-list {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    .user-card:hover {
      box-shadow: 0 3px 4px $box-shadow-color;
      transform: scale(105%);
      border-color: darken($card-border-color, 4%);
      transition-property: transform, border-color, box-shadow;
      transition-duration: 0.3s;
      cursor: pointer;
    }
  }

  .end-of-list {
    width: 50%;
    height: 3px;
    background-color: $light-background;
    margin: 40px auto;
  }

  .spinner-container {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
  }
}
